$font-family-main: 'PlusJakartaSans', sans-serif;

$main-color: #635FC7;
$black-color: #000112;

$light-grey: #F4F7FD;
$light-lines: #E4EBFA;
$medium-grey: #828FA3;

$dark-grey: #2B2C37;
$dark-lines: #3E3F4E;
$very-dark: #20212C;